body {
    font-size: 16px;
    overflow-x: hidden;
}

.header {
    height: 50px;
}

.logo {
    max-height: 50px;
}

nav {
    line-height: 50px;
}

.nav-links {
    padding: 0 10px;
}

.aboutus-container {
    min-height: 250px;
}

.block-header {
    font-size: 180%;
}

.block {
    padding: 2%;
}

.divider-png {
    height: 20px;
    width: 160px;
}

.block-body {
    padding: 2% 0;
    font-size: 100%;
}

.fa-cog {
    font-size: 700% !important;
}

.service-name {
    font-size: 120%;
    padding: 15px;
}

.service-description {
    font-size: 80%;
    text-align: left;
}

.btn-more {
    border: 1px solid #009688;
    padding: 5px 25px;
    color: #009688;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px !important;
}

.btn-more:hover {
    background: #009688;
    color: #fff;
}

.contact-wrapper {
    padding: 0;
    background: url("images/form-bg.jpg") fixed transparent;
    background-size: 100% 100%;
}

.contact-bg {
    overflow: auto;
    background: rgba(0, 150, 136, 0.8);
    padding: 2% 0;
    min-height: 400px;
}

.form {
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 0.3em #000;
    margin: 15px 0;
}

.submit {
    background: #004D40;
    color: #fff;
}

.submit:hover {
    box-shadow: 0 0 0.3em #fff;
    transition: all 0.5s ease;
}

.google-map {
    height: 400px;
    margin: 0 auto;
    width: 80%;
    border: 5px solid #fff;
}