<!DOCTYPE html>
<html lang="en" ng-app="slautomations">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
          content="sl,smart,living,home,automation,mangalore,mangaluru,moodubidiri,systems,smart,home,security,lighting,control,alarm,monitoring,building,karnataka,india">
    <meta name="description"
          content="Smart Home and Building Control Systems is now set to expand its expertise in the local region by looking into the modern living and growing technology of the region.">
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <title>Smart Living Automations</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="icon" href="images/logo.png">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="common.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="media-queries.css"/>
    <script src="routes.js"></script>
    <script src="app.js"></script>
    <script src="appJQ.js"></script>
    <script src="controllers/home.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108007497-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108007497-1');
    </script>

</head>
<body ng-controller="mainCtrl">
<!--HEADER-->
<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center logo-wrapper">
        <img src="images/logo.png" alt="" class="logo pointer" ng-click="routeTo('/')">
    </div>

    <!--Navbar-->
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs" ng-hide="isInfoPage()">
        <nav class="middle font-888">
            <a href="#/home" id="homebtn" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 0}"
               ng-click="active=0"><i class="fa fa-home"></i> Home</a>
            <a id="aboutbtn" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 1}" ng-click="active=1"><i
                    class="fa fa-info-circle"></i> About</a>
            <a id="servicesbtn" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 2}"
               ng-click="active=2"><i
                    class="fa fa-cog"></i> Services</a>
            <!--<a ng-href="#products" class="nav-links" ng-class="{'nav-links-active' : active == 3}" ng-click="active=3">Products</a>-->
            <!--<a ng-href="" class="nav-links" ng-class="{'nav-links-active' : active == 4}" ng-click="active=4">Our Work</a>-->
            <a id="partnersbtn" ng-href="" class="nav-links" ng-class="{'nav-links-active' : active == 5}" ng-click="active=5"><i
                    class="fa fa-handshake-o"></i> Products</a>
            <a id="gallerybtn" ng-href="" class="nav-links" ng-class="{'nav-links-active' : active == 6}" ng-click="active=6"><i
                    class="fa fa-picture-o"></i> Gallery</a>
            <a id="contactbtn" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 7}"
               ng-click="active=7"><i
                    class="fa fa-phone-square"></i> Contact</a>
        </nav>
    </div>

    <!--Info Page-->
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs" ng-show="isInfoPage()">
        <nav class="middle font-888">
            <a href="#home" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 0}"
               ng-click="active=0"><i class="fa fa-home"></i> Home</a>
            <a href="#home" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 1}" ng-click="active=1"><i
                    class="fa fa-info-circle"></i> About</a>
            <a href="#home" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 2}"
               ng-click="active=2"><i
                    class="fa fa-cog"></i> Services</a>
            <!--<a ng-href="#products" class="nav-links" ng-class="{'nav-links-active' : active == 3}" ng-click="active=3">Products</a>-->
            <!--<a ng-href="" class="nav-links" ng-class="{'nav-links-active' : active == 4}" ng-click="active=4">Our Work</a>-->
            <a href="#home" class="nav-links" ng-class="{'nav-links-active' : active == 5}" ng-click="active=5"><i
                    class="fa fa-handshake-o"></i> Products</a>
            <a href="#home" class="nav-links" ng-class="{'nav-links-active' : active == 6}" ng-click="active=6"><i
                    class="fa fa-picture-o"></i> Gallery</a>
            <a href="#home" target="_self" class="nav-links" ng-class="{'nav-links-active' : active == 7}"
               ng-click="active=7"><i
                    class="fa fa-phone-square"></i> Contact</a>
        </nav>
    </div>

    <div class="col-sm-6 col-xs-6 hidden-lg hidden-md right middle hamburger pointer">
        <i class="fa fa-bars" ng-click="showMenu=true" ng-show="showMenu==false"></i>
        <i class="fa fa-times" ng-click="showMenu=false" ng-show="showMenu==true"></i>
    </div>
</div>
<div class="col-xs-12 col-sm-12 hidden-lg hidden-md dropdown-menu-wrapper middle" ng-show="showMenu==true">
    <a id="homebtn-xs" ng-click="showMenu=false " class="drop-nav-link middle"><i class="fa fa-home"></i> Home</a>
    <a id="aboutbtn-xs" ng-click="showMenu=false" class="drop-nav-link"><i class="fa fa-info-circle"></i> About</a>
    <a id="servicesbtn-xs" ng-click="showMenu=false" class="drop-nav-link"><i class="fa fa-cog"></i> Services</a>
    <a id="partnersbtn-xs" ng-click="showMenu=false" class="drop-nav-link"><i class="fa fa-handshake-o"></i> Products</a>
    <a id="gallerybtn-xs" ng-click="showMenu=false" class="drop-nav-link"><i class="fa fa-picture-o"></i> Gallery</a>
    <a id="contactbtn-xs" ng-click="showMenu=false" class="drop-nav-link"><i class="fa fa-phone-square"></i> Contact</a>
    <div class="center">...</div>
</div>

<div class="overlay" ng-show="showMenu==true"></div>

<div class="top-margin"></div>
<ng-view class="ngview"></ng-view>

<!--INFO FOOTER-->
<div ng-hide="false" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info-footer font-8c8c8c no-padding-xs">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <h6 class="lh-18">
            <div class="footer-heading">ADDRESS :</div>
            <span class="font-white">
                Shop #20, R.B CITY COMPLEX, <br>
                ALVA’S HOSPITAL ROAD,<br>
                MOODBIDRI, MANGALORE,<br>
                574227.
            </span>
        </h6>
        <h6 class="lh-18">
            <div class="footer-heading">BRANCH ADDRESS :</div>
            <span class="font-white text-uppercase">
                Bhavani Ganesh Complex, <br>
                First floor, <br>
                Next to Tata Showroom, <br>
                Bejai main Road, Kodailbail, <br>
                Mangaluru, Karnataka - 575004 <br>
                <a href="https://goo.gl/maps/V1rvLYJ75HD2" target="_blank"><i class="fa fa-map-marker"></i> MAP <i class="fa fa-external-link font-8c8c8c"></i></a>
            </span>
        </h6>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h6>ENQUIRY : <br><br><span class="font-white"><i class="fa fa-envelope"></i> info@slautomations.com</span></h6>
        <h6>PHONE : <br><br> <span class="font-white"><i class="fa fa-phone"></i> 08258 - 239424</span></h6>
        <h6><span class="font-white"><i class="fa fa-phone"></i> +91 961 157 4389</span></h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 social-icons middle font-white">
        <a target="_new" href="https://www.facebook.com/Smart-Living-Home-Building-Automations-1125455744238139/"><i class="fa fa-facebook"></i></a>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google"></i>
    </div>
</div>

<!--FOOTER-->
<div ng-hide="false" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer font-bbb">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><span>&copy;
        COPYRIGHT 2018 | SMART LIVING AUTOMATIONS</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs right">Developed by <a href="http://fb.com/dsouzaedison"
                                                                                     title="Developer Email : dsouzaedison11@gmail.com"
                                                                                     target="_new" class="developer">Edison
        D'souza</a></div>
</div>

<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">

</body>
</html>