@media only screen and (max-width: 1150px) {
    body {
        font-size: 14px;
    }

    .block {
        padding: 15px;
    }

    .block-body {
        padding: 0;
    }

    .aboutus-container {
        padding: 15px 30px;
    }

    .map-container {
        padding: 15px 0;
    }

    .google-map {
        height: 360px;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        height: 230px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }

    .google-map {
        height: 250px;
        width: 90%;
    }

    .input-text, textarea, button {
        width: 100%;
    }

    .footer {
        padding: 15px;
        line-height: 16px;
    }

    .input-text, button {
        height: 30px;
        padding: 0 15px;
    }

    .social-icons {
        line-height: 50px;
    }

    .service-description {
        text-align: center;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        height: 150px;
    }
}