<div class="product-info-wrapper spacing center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-title font-heading-red">
                {{services[productIndex].name}}
            </div>
            <div>
                <img src="images/text-divider-green.png" alt="" class="divider-png">
            </div>
            <div class="justify product-desc-brief padding font-777777">
                <p class="indent">{{services[productIndex].productDesc}}</p>
            </div>
        </div>
    </div>
</div>

<div class="spacing font-white sub-wrapper parallax {{services[productIndex].background}} gradient">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding" ng-repeat="name in services[productIndex].sub">
                <div class="white-card font-5f5f5f bold">
                    {{$index + 1}}. {{name}}
                </div>
            </div>
        </div>
    </div>
</div>

