<div class="product-info-wrapper spacing center">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-title font-heading">
                SMART HOME SOLUTION
            </div>
            <div class="justify product-desc-brief padding font-777777">
                <p>Home Automation solution for connected smart homes and offices have found
                    increasing popularity in recent years due to much higher affordability and convenience through
                    SMART PHONE and TABLET connectivity. The concept of “Internet of things” has tied in closely
                    with the increasing proliferation of home automation solutions</p>
                <p>Smart home and building automation team has the expertise in designing and
                    developing home automation solutions like home automation gateways and home automation
                    sensor integration that allow every point of a smart home to be connected and controlled via a
                    central and/or a remote location.</p>
            </div>
        </div>
    </div>
</div>

<div class="spacing font-white center sub-wrapper parallax">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding" ng-repeat="name in services[productIndex].sub">
                <div class="white-card font-heading bold">
                    {{name}}
                </div>
            </div>
        </div>
    </div>
</div>

